# OBJECT ORIENTED PROGRAMMING

# CREATING A CLASS

In [30]:
class Phone:
    def make_call(self):
        print("Making a call")
        
    def play_game(self):
        print("Playing a game")

In [31]:
p1 = Phone()

In [32]:
p1.make_call()

Making a call

In [33]:
p1.play_game()

Playing a game

In [35]:
class Phone:
    def set_color(self,color):
        self.color = color
        
    def set_cost(self,cost):
        self.cost = cost
        
    def show_color(self):
        return self.color
    
    def show_cost(self):
        return self.cost

In [36]:
p2 = Phone()

In [41]:
p2.set_color("Red")
p2.set_cost(50000)

In [46]:
p2.show_color()

'Red'

In [47]:
p2.show_cost()

50000

# CONSTRUCTOR

In [51]:
class Employee:
    def __init__ (self,name,age,salary,gender):
        self.name = name
        self.age = age
        self.salary = salary
        self.gender = gender
        
    def show_employee_details(self):
        print("Name of employee is: ",self.name)
        print("Age of Employee is: ",self.age)
        print("Salary of the employee is : ", self.salary)
        print("Gender of the employee is",self.gender)

In [52]:
e1 = Employee("Tushar",22,10000,"Male")

In [53]:
e1.show_employee_details()

Name of employee is:  Tushar
Age of Employee is:  22
Salary of the employee is :  10000
Gender of the employee is Male

# INHERITANCE

In [64]:
class Vehicle:
    def __init__(self,mileage,cost):
        self.mileage = mileage
        self.cost = cost
        
    def show_vehicle_details(self):
        print("I Am a Vehicle")
        print("Mileage of car is: ",self.mileage)
        print("cost of car is:",self.cost)

In [65]:
v1 = Vehicle(50,50000)

In [66]:
v1.show_vehicle_details()

I Am a Vehicle
Mileage of car is:  50
cost of car is: 50000

In [67]:
class Car(Vehicle):
    def show_car_details(self):
        print("I Am a Car")

In [68]:
c1 = Car(25,60000)

In [71]:
c1.show_vehicle_details()

I Am a Vehicle
Mileage of car is:  25
cost of car is: 60000

In [72]:
c1.show_car_details()

I Am a Car

# OVER-RIDING __INIT__ METHOD

In [73]:
class Vehicle:
    def __init__(self,mileage,cost):
        self.mileage = mileage
        self.cost = cost
        
    def show_vehicle_details(self):
        print("I Am a Vehicle")
        print("Mileage of car is: ",self.mileage)
        print("cost of car is:",self.cost)

In [74]:
v1 = Vehicle(75,75000)

In [75]:
class Car(Vehicle):
    def __init__(self,mileage,cost,tyres,hp):
        super().__init__(mileage,cost)
        self.tyres = tyres
        self.hp = hp
        
    def show_car_details(self):
        print("Numbers of tyre in car are: ",self.tyres)
        print("Horse power of car is: ",self.hp)

In [77]:
c1 = Car(15,150000,8,1000)

In [79]:
c1.show_car_details()

Numbers of tyre in car are:  8
Horse power of car is:  1000

In [80]:
c1.show_vehicle_details()

I Am a Vehicle
Mileage of car is:  15
cost of car is: 150000

# MULTIPLE INHERITANCE

In [91]:
class Parent1:
    def assign_string_one(self,str1):
        self.str1 = str1
        
    def show_string_one(self):
        return self.str1

In [98]:
class Parent2:
    def assign_string_two(self,str2):
        self.str2 = str2
        
    def show_string_two(self):
        return self.str2

In [99]:
class Child(Parent1,Parent2):
    def assign_string_three(self,str3):
        self.str3 = str3
        
    def show_string_three(self):
        return self.str3

In [100]:
my_child = Child()

In [101]:
my_child.assign_string_one("I am string one")
my_child.assign_string_two("I am string two")
my_child.assign_string_three("I am string three")

In [102]:
my_child.show_string_one()

'I am string one'

In [103]:
my_child.show_string_two()

'I am string two'

In [104]:
my_child.show_string_three()

'I am string three'

# MULTILEVEL INHERITANCE

In [105]:
class Parent:
    def get_name(self,name):
        self.name = name
        
    def show_name(self):
        return self.name

In [108]:
class Child(Parent):
    def get_age(self,age):
        self.age = age
        
    def show_age(self):
        return self.age

In [109]:
class Grand_Child(Child):
    def get_gender(self,gender):
        self.gender = gender
        
    def show_gender(self):
        return self.gender

In [111]:
GC = Grand_Child()

In [112]:
GC.get_age(23)

In [113]:
GC.get_name("Pawan")

In [114]:
GC.get_gender("Male")

In [116]:
GC.show_name()

'Pawan'

In [117]:
GC.show_age()

23

In [118]:
GC.show_gender()

'Male'